{%- set external_urls = {
  'github': 'https://github.com/VincentSch4rf/torchtime',
  'github_issues': 'https://github.com/VincentSch4rf/torchtime/issues',
  'contributing': 'https://github.com/VincentSch4rf/torchtime/blob/master/CONTRIBUTING.md',
  'docs': 'https://pytorchtime.com/docs/stable/index.html',
  'tutorials': 'https://pytorchtime.com/tutorials',
  'home': 'https://pytorchtime.com',
  'get_started': 'https://pytorchtime.com/get-started',
  'audio': 'https://pytorch.org/audio/stable/index.html',
  'text': 'https://pytorch.org/text/stable/index.html',
  'vision': 'https://pytorch.org/vision/stable/index.html',
  'elastic': 'https://pytorch.org/elastic/',
  'torchx': 'https://pytorch.org/torchx/',
  'serve': 'https://pytorch.org/serve/',
  'xla': 'https://pytorch.org/xla',
  'data': 'https://pytorch.org/data',
  'torcharrow': 'https://pytorch.org/torcharrow',
  'torchrec': 'https://pytorch.org/torchrec'
}
-%}
